{% extends 'admin/base.html.twig' %}

{% block title %}Liste des réservations{% endblock %}

{% block body %}
    <div class="container-fluid">
        <h1 class="my-5">
            Gestion des réservations
        </h1>

        <table class="table table-hover">
            <thead>
            <tr>
                <th>Id</th>
                <th>Annonces</th>
                <th class="text-center">Client</th>
                <th class="text-center">Début</th>
                <th class="text-center">Fin</th>
                <th>Créer à</th>
                <th>Montant</th>
                <th>Commentaire</th>
                <th>Action</th>
            </tr>
            </thead>

            <tbody>
            {% for booking in pagination.data %}
                <tr>
                    <td>{{ booking.id }}</td>
                    <td>{{ booking.ad.title }}</td>

                    <td>
                        <img src="{{ booking.booker.picture }}" alt="Avatar de {{ booking.booker.fullName }}" class="avatar avatar-micro mr-2">
                        {{ booking.booker.fullName }}
                    </td>
                    <td class="text-center">
                        <span class="badge badge-primary rounded">
                            {{ booking.startDate|date('m/d/Y') }}
                        </span>
                    </td>
                    <td class="text-center">
                        <span class="badge badge-primary rounded">
                            {{ booking.endDate|date('m/d/Y') }}
                        </span>
                    </td>
                    <td>
                        {{ booking.createdAt|date('m/d/Y') }}
                    </td>
                    <td>
                        {{ booking.amount }} &euro;
                    </td>
                    <td>
                        {% if booking.comment %}
                        {{ booking.comment }}
                        {% else %}
                            Pas de commentaire
                        {% endif %}
                    </td>

                    <td>
                        <a href="{{ path("admin_booking_edit", {'id': booking.id}) }}" class="btn btn-primary"><i class="fas fa-edit"></i></a>
                        <a href="{{ path("admin_booking_delete", {'id': booking.id}) }}" class="btn btn-danger"><i class="fas fa-trash"></i></a>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
        {{ pagination.display() }}

    </div>
{% endblock %}
